*.o
src/*.o
src/arch/*.o
src/drivers/*.o
src/mm/*.o
src/net/*.o

*.so
*.efi
*.debug
*.fd
*.log
data.img

internal-fs/EFI/BOOT/BOOTX64.EFI
internal-fs/NvVars

xmpp_understanding.txt
notes.txt
*.pdf
ejabberd
other_servers