*.o
src/*.o
src/arch/*.o
src/drivers/*.o
src/mm/*.o
src/net/*.o

*.so
*.efi
*.debug
*.fd
*.log
data.img
.venv

internal-fs/EFI/BOOT/BOOTX64.EFI
internal-fs/NvVars

*.pdf
ejabberd
other_servers

capstone_draft.txt